
#
# Don't check these in.
#
data/
logs/
wordpress/
ssl_certs/
.idea/
/wp-content
!/wp-content/mu-plugins
!/wp-content/plugins/hello.php
!/wp-content/plugins/index.php
!/wp-content/themes/index.php
/node_modules/
/client/node_modules/
/client/node_modules/
/server/content/
