
#
# Don't check these in.
#
data/
logs/
ssl_certs/
.idea/

/node_modules/
/client/node_modules/
/client/node_modules/
/server/content/
/client/src/pages.json
/vendor
.env

/wordpress/
wp-content/*
!wp-content/**/
!wp-content/mu-plugins/**
wp-content/plugins/*
wp-content/themes/*
!wp-content/plugins/**/
!wp-content/plugins/blocks-plugin/**

